.control-button {
  transition: opacity 0.2s linear;
}

.separator {
  max-width: 20rem;
  text-align: center;
  border-bottom: 1px solid rgb(173, 173, 173);
  line-height: 0.1em;
  margin: auto;
}

.separator span {
  background: #eff3fe;
  padding: 0 10px;
}

@media screen and (min-width: 480px) {
  .separator {
    max-width: 20rem;
    margin: auto;
    text-align: center;
    border-bottom: 1px solid rgb(187, 187, 187);
    line-height: 0.1em;
  }
}
