.bg-active {
  background-image: url("../../assets/activeChallenge/running-background.gif");
  background-size: 75vw;
  width: 75vw;
  height: 75vw;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
  margin-bottom: 1rem;
}

.animal-in-wheel {
  width: 25vw;
  height: 25vw;
  transform-origin: 50% -50%;
  position: absolute;
}

@media only screen and (min-width: 500px) {
  .bg-active {
    background-size: 375px;
    width: 375px;
    height: 375px;
  }
  .animal-in-wheel {
    width: 125px;
    height: 125px;
  }
}
