@media screen and (min-width: 1280px) {
  .nav-menu {
    margin-left: calc((100vw - 1280px) / 2);
  }
}

@media screen and (max-width: 992px) {
  .nav-menu {
    display: none;
  }
}

.nav-menu {
  max-width: 240px;
}

.nav-menu ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;

  --background: var(--ion-item-background, var(--ion-background-color, #fff));
}

/* Remove background transitions for switching themes */
.nav-menu ion-item {
  --transition: none;
}

.nav-menu .selected {
  --color: var(--ion-color-secondary);
}

/*
 * Material Design Menu
*/
.nav-menu.md ion-list {
  padding: 20px 0;
}

.nav-menu.md ion-list-header {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 0.5rem;

  letter-spacing: 0.1em;
  font-weight: 750;
  font-size: 1.5rem;
}

.nav-menu.md ion-item {
  --padding-start: 2rem;

  border-radius: 50px 0px 0px 50px;

  font-weight: 500;
}

.nav-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-secondary-rgb), 0.14);
}

.nav-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-secondary);
}

.nav-menu.md ion-list-header,
.nav-menu.md ion-item ion-icon {
  color: var(--ion-color-step-650, #5f6368);
}

.nav-menu.md ion-list:not(:last-of-type) {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}
