.uploaded-proof {
  max-width: 75%;
}

@media only screen and (min-height: 768px) and (min-width: 768px) {
  .modal-wrapper {
    --height: 90vh;
  }
}

@media only screen and (max-height: 768px) and (min-width: 768px) {
  .modal-wrapper {
    --height: 90vh;
    --width: 600px;
  }
}
