.challenges-search {
  margin-top: 0 !important;
  .searchbar-input {
    border-radius: 2rem !important;
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;
    background-color: white !important;
    font-size: 0.9rem;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  }
  .searchbar-search-icon {
    margin-left: 0.6rem !important;
    width: 1.15rem;
  }
  .searchbar-clear-button {
    margin-right: 0.6rem !important;
  }
}
