.avatar {
  height: 2rem;
  width: 2rem;
}

.profile-statistic {
  border-width: 0;
  border-radius: 1rem;
  margin: 0.5rem;
}

#profile-avatar {
  height: 7.5rem;
  width: 7.5rem;
}

@media screen and (min-width: 1280px) {
  .tutorial {
    display: none;
  }
  .bug-report {
    display: none;
  }
}
