.purhcase-item-modal {
  --max-height: 23.5rem;
  --max-width: 23.5rem;
  padding: 7.5vw;

  .modal-wrapper {
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .purhcase-item-modal {
    --max-height: 24rem;
    --max-width: 24rem;
    padding: 7.5vw;

    .modal-wrapper {
      border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    }
  }
}
