/*
body {
  border-right: solid #eaeaea;
  border-width: 1px;
}

@media screen and (min-width: 1240px) {
  body {
    max-width: 1240px;
    margin-left: calc((100vw - 1240px) / 2);
  }
}


@media screen and (min-width: 1240px) {
  .split-pane-content {
    margin-right: calc((100vw - 1240px) / 2);
  }
}

.split-pane-content {
  border-right: solid #dedede;
  border-width: 1px;
}
*/
