@media screen and (min-width: 992px) {
  .split-pane-content {
    margin-left: calc((100vw - 864px) / 2);
  }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
  .split-pane-content {
    margin-left: calc((100vw - 576px) / 2);
    margin-right: calc((100vw - 576px) / 2);
  }
}

.desktop-navbar {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.desktop-navbar-tabs {
  box-shadow: none;
  border: none;
}
