.privacy-modal {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
  --max-height: 22.5rem;
  --max-width: 20.5rem;
  padding: 7.5vw;

  .modal-wrapper {
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  }

  .ion-page {
    border-radius: inherit;
  }
}

@media only screen and (min-width: 576px) {
  .privacy-modal {
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.1);
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
    --max-height: 22.5rem;
    --max-width: 20.5rem;
    padding: 7.5vw;

    .modal-wrapper {
      border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    }

    .ion-page {
      border-radius: inherit;
    }
  }
}

.privacy-modal-sm {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
  --max-height: 25.5rem;
  --max-width: 20.5rem;
  padding: 7.5vw;

  .modal-wrapper {
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  }

  .ion-page {
    border-radius: inherit;
  }
}

@media only screen and (min-width: 576px) {
  .privacy-modal-sm {
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.1);
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
    --max-height: 22.5rem;
    --max-width: 20.5rem;
    padding: 7.5vw;

    .modal-wrapper {
      border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    }

    .ion-page {
      border-radius: inherit;
    }
  }
}

.privacy-modal-md {
  --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
  --max-height: 24rem;
  --max-width: 20.5rem;
  padding: 7.5vw;

  .modal-wrapper {
    border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  }

  .ion-page {
    border-radius: inherit;
  }
}

@media only screen and (min-width: 576px) {
  .privacy-modal-md {
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.1);
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.32);
    --max-height: 22.5rem;
    --max-width: 20.5rem;
    padding: 7.5vw;

    .modal-wrapper {
      border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
    }

    .ion-page {
      border-radius: inherit;
    }
  }
}
