.shameful-list-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  transform: translateY(-40%);
}

.shameful-list-container strong {
  font-size: 20px;
  line-height: 26px;
}

.shameful-list-container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.shameful-list-container a {
  text-decoration: none;
}

.leaderboard-item {
  --ion-item-background: #ffffff;
}

.transparent {
  --background: #ffffff;
  max-width: 11rem !important;
  left: calc(50% - 5.5rem);
  padding-bottom: 0.5rem;
}

.glass {
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

@media screen and (max-width: 576px) {
  .first-place-avatar {
    width: 30vw;
    height: 30vw;
  }

  .second-place-avatar {
    width: 20vw;
    height: 20vw;
  }

  .third-place-avatar {
    width: 20vw;
    height: 20vw;
  }
}

@media screen and (min-width: 576px) {
  .first-place-avatar {
    width: 9rem;
    height: 9rem;
  }

  .second-place-avatar {
    width: 6rem;
    height: 6rem;
  }

  .third-place-avatar {
    width: 6rem;
    height: 6rem;
  }
}

.custom-card-view {
  --ion-background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  background: transparent;
}
