.explore-header {
  --border-color: var(--ion-color-main-beige);
}

.explore-header-curve {
  width: 100%;
  height: 2rem;
  position: absolute;
  overflow: hidden;
  transform: rotateX(180deg);
  // background-color: lightblue;
}

.explore-header-curve::before {
  content: "";
  position: absolute;
  bottom: 0%;
  height: 750%;
  width: 200%;
  margin-left: -50%;
  border-radius: 100%;
  box-shadow: 0px 300px 0px 300px var(--ion-color-main-blue);
  // box-shadow: 0px 500px 0px 500px pink;
}

.placeholder-fab {
  --box-shadow: none !important;
}

.explore-search {
  .searchbar-input {
    color: black !important;
  }
  .searchbar-search-icon {
    color: black !important;
  }
  .searchbar-clear-button {
    color: black !important;
  }
}

ul.ba {
  list-style-type: none;
}

.featured-horizontal-list {
  display: flex;
  margin-top: 0rem;
  padding-top: 0rem;
  padding-left: 0rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  list-style-type: none;
  // -ms-overflow-style: none;
  // scrollbar-width: none;
}

// .featured-horizontal-list::-webkit-scrollbar {
//   display: none;
// }

.featured-horizontal-item {
  height: 350px;
  width: 250px;
  flex-shrink: 0;
  margin-top: 0rem;
}
