@media screen and (min-width: 576px) {
  .right-section {
    margin-right: calc((100vw - 992px) / 2);
  }
}

@media screen and (max-width: 576px) {
  .right-section {
    display: none;
  }
}

.right-section {
  max-width: 400px;
  margin-top: 3.5rem;
  --ion-background-color: #fafafa;
}

.right-section ion-content {
  --padding-top: 20px;
  --padding-bottom: 20px;
}

/* Remove background transitions for switching themes */
.right-section ion-item {
  --transition: none;
}

body.backdrio-no-scroll {
  --border: none !important;
}

.shame-notification {
  border-radius: 1rem;
  box-shadow: none;
  background-color: #fafafa;
}
